:root {
  --primary: #494658;
  --secondary: #0209d5;
  --secondary-alph: rgba(2, 9, 213, 0.15);
}

 body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    circle,
    rgba(55, 135, 221, 1) 0%,
    rgba(73, 79, 166, 1) 0%,
    rgba(98, 4, 92, 1) 100%
  );
  background-repeat: no-repeat;
  will-change: transform; /* 👈 fuerza renderización por GPU */
  transform: translateZ(0); /* 👈 evita flickering */
    @media (max-width:700px) {
    background: rgb(24, 8, 48);
  }
}
